.exploration_text{
    text-transform: capitalize;
    background: linear-gradient(90deg, #FD8F01 0%, #F1CB5A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.exploration_popup_area .modal-header{
    background: #1CA8CB;
}
.exploration_popup_area .modal-header h5{
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;

}
.exploration_popup_area .modal-header button{
    background: none !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 22px;
}
.exploration_popup_area .modal-body{
    padding: 30px 40px !important;
}
.exploration_popup_area .tabcontent_area .videoPlayer{
    height: 330px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.exploration_popup_area .tabcontent_area p{
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000000;   
    margin-top: 21px; 
}
