@media (max-width: 1201px) {
    .banner-content-area h1 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .myyatra-cards {
        width: calc((100% - 30px) / 2);
    }

    .teamsmembar-area .teams-card {
        width: calc((100% - 70px) / 2);
    }

    .childage {
        font-size: 16px !important;
    }

    .pilgrims-slider-item .pilgrims-slider-inner h1 {
        font-size: 35px;
    }
}

@media (max-width: 992px) {
    .banner-content-area h1 {
        text-align: center;
    }

    .navigationbar nav {

        flex-direction: column;
        row-gap: 20px;

    }

    .navigationbar .navlink {
        /* border-bottom: 1px solid #E1E4E5;
        width: 100%; */
    }

    .menu-content {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        width: 100%;
        padding: 40px 20px;
        display: none;
    }

    .logo {
        width: 64px;
        height: 63px;
    }

    .hero-area {
        padding-right: 0;
    }

    .banner-content-area {
        padding: 40px 20px;
    }


    .subscriptions {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        row-gap: 15px;
    }

    .subscriptions input {
        width: 70%;
    }

    .who-we-are-content p {
        font-size: 13px;
        line-height: 20px;
    }

    .myyatra-cards h1 {
        font-size: 21px;
    }

    .myyatra-cards article {
        font-size: 14px;
        line-height: 23px;
    }

    .moreinfomodal .modal-body {
        padding: 40px 20px !important;
    }

    .moreinfomodal .modal-body article {
        font-size: 15px;
        line-height: 24px;
    }

    .whysetsmyyatradetails h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .whysetsmyyatradetails small {
        font-size: 15px;
        line-height: 24px;
    }

    .pilgrims-slider-item .pilgrims-slider-inner h1 {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .sectionitems h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .myyatra-cards {
        width: 100%;
    }

    .ourMission-area ul li {
        padding-left: 10px;
        font-size: 17px;
        line-height: 21px;
    }

    .teamsmembar-area .teams-card {
        width: 100%;
    }
}

@media (max-width: 579px) {

    .gallery-section {
        width: 100%;
        aspect-ratio: 1 / 1.01;
    }

    .double-image .top-image,
    .double-image .bottom-image,
    .single-image {
        height: 100%;
        width: 100%;
    }

    .double-image .top-image,
    .double-image .bottom-image {
        aspect-ratio: 1 / 1.01;
    }

    .single-image img {
        height: 100% !important;
        width: 100% !important;
    }


}

@media (max-width: 576px) {
    .best-recomended-card .card-content .cardheader h1 {
        text-align: left !important;
    }

    .banner-content-area h1 {
        font-size: 34px;
        line-height: 39px;
        text-align: center;
    }

    .sectionitems h2 {
        text-align: center !important;
        font-size: 25px;
    }

    .sectionitems h1 {
        text-align: center !important;
        font-size: 25px;
    }



    .footer-area h1 {
        font-size: 13px;
        line-height: 19px;
    }

    .footer-logoand-description-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-logoand-description-area p {
        text-align: center;
    }

    .quick-link-header {
        text-align: center;
    }

    .quick-link-list {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

    }

    .quick-link-list li {
        margin-bottom: 7px;
    }

    .addressbox {
        text-align: left;
    }

    .who-we-are-img-area {
        height: 300px;
        width: 100%;
    }

    .footerlogo {
        height: 33px;
        width: 42px;
        border-radius: 4px;
    }

    .footer-description {
        font-size: 10px;
        line-height: 17px;
        margin: 10px 0;
    }

    .subscriptions input {
        padding: 7px 10px;
        width: 100%;
    }

    .subscriptions button {
        font-size: 9px;
        line-height: 15.5px;
        padding: 7px 20px;
    }

    .subscriptions button img {
        width: 12px;
    }


}

@media (max-width: 481px) {






    .pilgrims-slider-item .pilgrims-slider-inner h1 {
        font-size: 35px;
    }
}




@media (max-width: 420px) {
    .login-area a {
        font-size: 12px;
        padding: 10px 15px;
    }

    .best-recomended-card .card-content .card-footer-area button {
        padding: 5px 10px;
        font-size: 10px;
    }


}

@media (max-width: 346px) {
    .pilgrims-slider-item .pilgrims-slider-inner h1 {
        font-size: 25px;
    }


}

@media screen and (min-width: 420px) and (max-width: 576px) {
    .col-ssl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

}