/* font-family: "Inter", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Montez", cursive;
font-family: "Manrope", sans-serif; */


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* -------------------top header start--------------------- */
.topheader {
    border-bottom: 1px solid #E1E4E5;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    font-family: Inter;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #755602;
    cursor: pointer;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.language-and-currency-changer select {}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.custom-select {
    appearance: none;
    /* Hide default arrow */
    -webkit-appearance: none;
    /* For Safari */
    -moz-appearance: none;
    /* For Firefox */
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0D0D0C;
    border: 1px solid #E1E4E5;
    border-radius: 30px;
    padding: 9px 34px 9px 13px;
    background: #ffffff;
    cursor: pointer;
}

.custom-select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    /* Don't interfere with select click */
    font-size: 20px;
    color: #000000;
}

/* -------------------top header end--------------------- */

/* -------------------navigation area start--------------------- */
.navigationbar {
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000014;

}

.logo {
    width: 92px;
    height: 92px;
}

.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.navlink span {
    background: linear-gradient(90deg, #0172CD 0%, #1CA8CB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    transition: all 0.3s ease;


}

.navlink:hover span {
    background: linear-gradient(90deg, #1CA8CB 0%, #0172CD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navlink img {
    height: 30px;
    width: 30px;
}

.login-area a {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 14.49px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 30px;
}

.login-area .login {
    color: #ffffff;
    background: #1CA8CB;
}

.login-area .signup {
    color: #1CA8CB;
    border: 0.56px solid #1CA8CB;
    transition: all 0.3s ease;

}

.login-area .signup:hover {
    color: #ffffff;
    background: #1CA8CB;

}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    outline: none;
}

.menu-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 24px;
}

.menu-icon .line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #0172CD 0%, #1CA8CB 100%);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu-icon .line-1 {
    top: 0;
}

.menu-icon .line-2 {
    top: 50%;
    transform: translateY(-50%);
}

.menu-icon .line-3 {
    bottom: 0;
}

.menu-toggle.active .line-1 {
    transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .line-2 {
    opacity: 0;
}

.menu-toggle.active .line-3 {
    transform: translateY(-10px) rotate(-45deg);
}

/* -------------------navigation area end--------------------- */



/* ---------------hero start---------------- */
.hero-area {
    /* height: calc(100vh - 250px); */


}

.hero-image-area {
    /* height: calc(100vh - 250px); */
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 11px 0px #00000014;

}

.hero-image-area .banner-slider-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 0 0 10px 10px;
}

.banner-slider-item.active {
    opacity: 1;
}

.banner-content-area {
    padding: 52px 0;
}

.banner-content-area h1 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 62px;
    line-height: 76.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #113D48;
}

.banner-content-area h1 span {
    color: #1CA8CB;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0%;
    vertical-align: middle;

}

.banner-content-area .search-box {
    border: 1px solid #1CA8CB;
    border-radius: 7px;
    max-width: 470px;
    width: 100%;

}

.banner-content-area .search-box input {
    padding: 10px 10px 10px 50px;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.banner-content-area .search-box .searchIcon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #1CA8CB;
    font-size: 20px;
}

.slider-package-card {

    box-shadow: 0px 0px 11px 0px #00000014;
    border-radius: 8px;
    width: 100%;

    /* width / height */
}







.slider-package-card .card-image-area {
    height: 100%;
}

.slider-package-card .card-content h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

.slider-package-card .card-content p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 0;
    color: #ffffff;
}

.slider-package-card .card-icon {
    height: 30px;
    width: 30px;
}

.slider-package-card .card-image-area .package-card-image-item {
    aspect-ratio: 1 / 1.05;
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.slider-package-card .card-image-area .package-card-image-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
    object-position: center;

}

/* ---------------hero end---------------- */


/* -------------------Our Top Pilgrims start--------------------- */
.sectionitems {
    padding: 50px 0 100px 0;
}

.sectionitems h2 {
    font-family: Montez;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #113D48;
    margin-bottom: 0;
}

.sectionitems h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    /* line-height: 63.7px; */
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #113D48;
}

.pilgrims-area {
    background-image: url(../images/section_bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 600px;
    background-color: #ffffff;
}



.pilgrims-slider-area {
    margin-top: 30px;
}

.pilgrims-slider-area .pilgrims-slider-item {
    width: 100%;
    height: 100%;
}

.pilgrims-slider-area .pilgrims-slider-item .pilgrims-slider-inner {
    aspect-ratio: 1 / 0.7;
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

}

.pilgrims-slider-area .pilgrims-slider-item .pilgrims-slider-inner img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
    object-position: center;

}

.pilgrims-slider-area .pilgrims-slider-item .pilgrims-slider-inner h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    line-height: 27.96px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;

}

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.custom-arrows {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    /* Space between arrows */
}

.custom-prev,
.custom-next {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #1CA8CB;
    border: 3px solid #1CA8CB;
    height: 43px;
    width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s ease;
    /* Change color as needed */
}

.custom-prev:hover,
.custom-next:hover {
    background: #1CA8CB;
    color: #ffffff;
}

/* -------------------Our Top Pilgrims end--------------------- */


/* ---------------------best-recommended-place-area start------------------------ */
.best-recommended-place-area {
    background: #E7F6FA;
}

.best-recommended-place-area p {
    font-family: Inter;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 23.63px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #113D48;
}

.best-recomended-card {
    border-width: 0px, 0.87px, 0.87px, 0.87px;
    border-style: solid;
    border-color: #BCCED2;
    border-radius: 14px;
    display: block;
    background: #ffffff;



}

.best-recomended-card .card-img {
    width: 100%;
    aspect-ratio: 1 / 1.02;
    border-radius: 14px 14px 0 0;
    position: relative;
    overflow: hidden;


}

.best-recomended-card .card-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
    object-position: center;
    transition: all 0.4s ease;
}

.best-recomended-card:hover .card-img img {
    transform: scale(1.05);
}

.best-recomended-card .card-content {
    padding: 14px 20px;
}

.best-recomended-card .card-content .cardheader {
    height: 40px;
}

.best-recomended-card .card-content .cardheader h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0D0D0C;
    text-align: left;
}

.best-recomended-card .card-content .pricing {
    margin-top: 10px;
}

.best-recomended-card .card-content .pricing h4 {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 31.29px;
    letter-spacing: 0.42px;
    vertical-align: middle;
    color: #0D0D0C;
    margin-bottom: 0;

}

.best-recomended-card .card-content .pricing h4 span {
    font-family: Inter;
    font-weight: 400;
    font-size: 15.64px;
    line-height: 20.85px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6E7070;
}

.best-recomended-card .card-content .pricing small {
    font-family: Inter;
    font-weight: 400;
    font-size: 13.9px;
    line-height: 22.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6E7070;
    display: block;
}

.best-recomended-card .card-content .card-footer-area {
    margin-top: 10px;
}

.best-recomended-card .card-content .card-footer-area h5 {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #113D48;

}

.best-recomended-card .card-content .card-footer-area button {
    background: none;
    border: 0.87px solid #E1E4E5;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13.9px;
    line-height: 22.6px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #113D48;
    padding: 10px 17px;
}

.best-recomended-card .card-content .card-footer-area button img {
    width: 15px;
    height: 10px;
}

/* ---------------------best-recommended-place-area end------------------------ */


/* -------------------------Why book with MyYatra360 start-------------------------- */
.whychoseus-area {
    background: #ffffff;
    padding: 94px 0 40px 0 !important;
}

.whychoseus-area p {
    font-family: Inter;
    font-weight: 400;
    font-size: 15.12px;
    line-height: 21.83px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6E7070;
}

.why-choose-items {
    padding-left: 0;
}

.why-choose-items li {
    margin-bottom: 30px;
}

.why-choose-items li:last-child {
    margin-bottom: 0;
}

.why-choose-items li a {
    font-family: Inter;
    font-weight: 400;
    font-size: 13.44px;
    line-height: 21.83px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
    background: #113D48;
    border-radius: 30px;
    padding: 15px 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: fit-content;
    margin-top: 36px;
}

.why-choose-items li a img {
    width: 20px;
}

.why-choose-items li span {
    height: 60px;
    width: 60px;
    background: #1CA8CB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.why-choose-items li span img {
    width: 27px;
}

.why-choose-items li h3 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 20.16px;
    line-height: 28.55px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #113D48;
    margin-bottom: 0;
}

.why-choose-items li p {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6E7070;
    margin-bottom: 0;
}

/* -------------------------Why book with MyYatra360 end-------------------------- */


/* ---------------------------recent-gallery-area start------------------------------- */
.recent-gallery-area {
    padding: 60px 40px;
    background: #E7F6FA;
    background-image: url(../images/background-icon.png);
    background-repeat: no-repeat;
    background-position: left 40px top 135px;
    background-size: 63px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 400px; */
    gap: 15px;
    padding: 10px 0;
}

.gallery-section {
    flex: 0 0 auto;
    height: 100%;

}

.single-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.single-image img {
    height: 227px !important;
    width: 242px !important;
}

.double-image {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    row-gap: 10px;
}

.double-image .top-image,
.double-image .bottom-image {
    height: 187px;
    overflow: hidden;
}

.full-height {
    height: 100%;
    overflow: hidden;
}

.gallery-section img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}



/* ---------------------------recent-gallery-area end------------------------------- */



/* -------------------------have-questions-area start------------------------- */
.have-questions-area {
    background: #ffffff;
}

.have-questions-area h5 {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 17.13px;
    letter-spacing: 0%;
    color: #000000;
}

.questions-list {
    padding-left: 0;
}

.questions-list li {
    border: 0.8px solid #D9D9D9;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.questions-list li:last-child {
    margin-bottom: 0;
}

.questions-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.questions-area h4 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 12.23px;
    letter-spacing: 0.06px;
    color: #000000;
}

.answer-area {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.23px;
    letter-spacing: 0.15px;
    color: #757575;
    display: none;
}

.questions-area .minus {
    display: none;
}

.questions-list .active .questions-area {
    padding-bottom: 10px;
}

.questions-list .active .questions-area h4 {
    margin-bottom: 0;
}

.questions-list .active .questions-area .minus {
    display: block;
}

.questions-list .active .questions-area .plus {
    display: none;
}

.questions-list .active .answer-area {
    display: block;
    transition: all 0.3s ease;
}

.have-more-questions {
    position: relative;
    max-height: 526px;
    max-width: 395px;
    width: 100%;
    height: 100%;

}

.have-more-questions .more-questions-content {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 250px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.have-more-questions .more-questions-content h6 {
    font-family: Inter;
    font-weight: 600;
    font-size: 30px;
    line-height: 31.2px;
    letter-spacing: 0.06px;
    text-align: center;
    color: #ffffff;
}

.have-more-questions .more-questions-content a {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 10px 17px;
    border-radius: 30px;
    background: #1CA8CB;
}

.have-more-questions .more-questions-content a img {
    width: 20px;
    margin-left: 10px;
}

/* -------------------------have-questions-area end------------------------- */


/* ----------------footer-area start---------------------- */
.footer-area {
    padding-top: 30px;
    background: url(../images/footer-bg.png) no-repeat 0 0 / 100% 100%;

}

.footer-area h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 28px;
    line-height: 39.75px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #ffffff;
}

.subscriptions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
}

.subscriptions {
    width: 50%;
}

.subscriptions input {
    border: none;
    padding: 15px 10px;
    border-radius: 30px;
    background: #ffffff;
    font-family: Inter;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #6E7070;
    width: 300px;
}

.subscriptions button {
    border: none;
    padding: 13px 20px;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 19.5px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    color: #1CA8CB;
    flex-shrink: 0;
}

.subscriptions button img {
    width: 18px;
}

.footerlogo {
    height: 87px;
    width: 87px;
    border-radius: 8px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.footer-description {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 15px 0;
}

.social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    padding-left: 0;
}

.social-icons li {}

.social-icons li a {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #0172CD;
    transition: all 0.3s ease;
}

.social-icons li a:hover {
    background: #0172CD;
    color: #ffffff;
}

.quick-link-header {
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    margin-bottom: 20px;
}

.quick-link-list {
    padding-left: 0;
}

.quick-link-list li {
    margin-bottom: 15px;
}

.quick-link-list li a {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.75px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    transition: all 0.3s ease;
}

.quick-link-list li a:hover {
    color: #BCCED2;
}

.quick-link-list li .icons-box {
    background: #ffffff;
    color: #1CA8CB;
    font-size: 14px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.addressbox {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
}

.addressbox span {
    color: #1CA8CB;
    font-weight: 700;
}

.footerlable {
    background: #1CA8CB;
}

.footerlable p {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 18.38px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ffffff;
    margin-bottom: 0;
}

/* ----------------footer-area end---------------------- */